body {
    font-family: Arial, Helvetica, sans-serif;

    color: white;

    margin: 0;
}

.main-container {
     max-width: 100%;
     max-height: 100vh;
     overflow: hidden;
}

.nav {
     position: fixed;

     width: 5%;
     height: 100vh;
     
     background-color: #2a363e;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.nav > .nav-button {
     width: 64px;
     height: 64px;

     margin: 20px 0;
}

.nav > .nav-button:hover {
     text-decoration: none;
     cursor: pointer;
}

.main-page {
     position: absolute;

     left: calc(100% * .05);

     width: calc(100% - (100% * .05));

     background-color: #36454f;

     min-height: 100vh;
     max-height: 100vh;

     display: flex;
}

.main-page > .center-pane {
     min-width: calc(100% - 300px);
     max-width: calc(100% - 300px);
     
     min-height: 100%;
     max-height: 100%;
     overflow-y: auto;

     margin-bottom: 20px;
     flex-grow: 3;

     display: flex;
     flex-direction: column;
}

.main-page > .center-pane > .page-title > h1 {
     font-size: 48px;
     font-weight: bold;
     text-align: center;
     
     margin: 15px 0 0 0;

     flex-grow: 0;
}

.main-page > .center-pane > .center-stage {
     min-width: calc(100% - 60px);
     max-width: calc(100% - 60px);

     margin: 10px 20px 0 20px;

     background-color: #2a363e;

     border-radius: 10px;
     padding: 10px;
     flex-grow: 3;
}

.main-page > .center-pane > .center-stage > h1 {
     margin: 0;
}

.main-page > .side-pane {
     position: fixed; 
     right: 0;
     top: 0;

     min-width: 300px; 
     max-width: 300px; 

     height: 100vh;

     background-color: #2a363e;
}

.main-page > .customer-card {
     position: absolute;
     
     right: 0;
     top: 20px;

     min-width: 320px;
     max-width: 320px;

     padding: 10px;

     background-color: #4169e1;
     border-radius: 10px 0 0 10px;
}

.main-page > .customer-card > h2 {
     margin: 0;
     text-align: center;
}