body {
    font-family: Arial, Helvetica, sans-serif;

    color: white;

    margin: 0;
}

.main-container {
     max-width: 100%;
     max-height: 100vh;
     overflow: hidden;
}

.nav {
     position: fixed;

     width: 5%;
     height: 100vh;
     
     background-color: #2a363e;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.nav > .nav-button {
     width: 64px;
     height: 64px;

     margin: 20px 0;
}

.nav > .nav-button:hover {
     text-decoration: none;
     cursor: pointer;
}


.main-page {
     position: absolute;

     left: calc(100% * .05);

     width: calc(100% - (100% * .05));
     max-height: 100vh;
     overflow-y: scroll;

     background-color: #36454f;
}

.info {
     width: 300px;

     background-color: #2a363e;
}

.page-title > h1 {
     font-size: 48px;
     font-weight: bold;
     text-align: center;
     
     margin: 0;
}