/*************************
**     Variables       **
*************************/
$bg: #2a363e;
$bg-light: #36454f;
$nav-buttons: #526876;
$line: #80808083;
$scroll: #4169e1;
$scroll-bg: #2a363e;
$bg-customer: #4169e1;

$list-hover: #526876;

/*************************
**   Base HTML Fixings  **
*************************/
body {
    font-family: Arial, Helvetica, sans-serif;

    color: white;

    margin: 0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/*************************
**        Stage         **
*************************/
.main-container {
     max-width: 100%;
     max-height: 100vh;
     overflow: hidden;
}

.main-page {
     position: absolute;

     left: calc(100% * .05);

     width: calc(100% - (100% * .05));

     background-color: $bg;

     min-height: 100vh;
     max-height: 100vh;

     display: flex;
}

.main-page > .center-pane {
     min-width: calc(100% - 300px);
     max-width: calc(100% - 300px);
     
     min-height: 100%;
     max-height: 100%;
     overflow-y: auto;

     margin-bottom: 20px;
     flex-grow: 3;

     display: flex;
     flex-direction: column;
}

.main-page > .center-pane > .page-title > h1 {
     font-size: 48px;
     font-weight: bold;
     text-align: center;
     
     margin: 15px 0 0 0;

     flex-grow: 0;
}

.main-page > .center-pane > .center-stage {
     min-width: calc(100% - 80px);
     max-width: calc(100% - 80px);

     margin: 10px 20px 0 20px;

     background-color: $bg-light;

     border-radius: 10px;
     padding: 20px;
     flex-grow: 3;

     max-height: calc(100% - 120px);
}

.main-page > .center-pane > .center-stage > h1 {
     margin: 0;
}

.main-page > .side-pane {
     position: fixed; 
     right: 0;
     top: 0;

     min-width: 300px; 
     max-width: 300px; 

     height: 100vh;

     background-color: $bg-light;
}

.main-page > .customer-card {
     position: absolute;
     
     right: 0;
     top: 20px;

     min-width: 290px;
     max-width: 290px;

     padding: 10px;

     background-color: $bg-customer;
     border-radius: 10px 0 0 10px;
}

.main-page > .customer-card > h2 {
     margin: 0;
     text-align: center;
}

.back-button {
     position: absolute;
     left: 20px;
     top: 10px;
     font-size: 46px;
}

.main-header {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.main-header > .main-title {
     margin: 0;
}

.main-split {
     background-color: $line;

     height: 1px;
     width: 100%;

     margin: 10px 0px;
     border-radius: 10px;
}

.main-header > .main-header-button {
     border-radius: 30px;
     background-color: rgb(177, 42, 42);
     margin: 0 10px;
}

.clickable {
     cursor: pointer;
}

/*************************
**    Customer Card     **
*************************/
.customer-card-details {
     display: flex;
     flex-direction: column;
     justify-content: center;
     
     font-size: 14pt;
     text-align: center;
}

.customer-input-name > input[type=text]
{
     background-color: #2f2f2f;
     color: white;
     height: 25px;
     width: 40%;

     border-radius: 5px;
     border: 1px solid black;
     padding-left: 10px;
}

.customer-input-dob > input[type=text]:invalid {
     border-color: red;
}

.customer-input-phone, .customer-input-dob, .customer-input-name
{
     padding: 5px;
}

.customer-input-button {
     padding: 10px;
     text-align: center;
}

.customer-input-button > a {
     font-size: 12pt;
     border-radius: 15px;
     padding: 10px;
     
     color: darkslategray;
     background: #75e6da;
     text-decoration: none;
}

.customer-input-button > a:hover {
     background: white;
     color: black;
}

.customer-input-phone > input[type=text], .customer-input-dob > input[type=text] {
     width: 87%;
     height: 25px;

     
     background-color: #2f2f2f;
     border-radius: 5px;
     border: 1px solid black;
     padding-left: 10px;
}

.customer-name {
     font-size: 24pt;
}

.edit-button {
     height: 32px;
     width: 32px;
     
     display: block;
     margin: auto;

     margin-top: 10px;
}

.customer-img {
     display: block;
     margin: auto;
}

/*************************
**      Navigation      **
*************************/
.nav {
     position: fixed;

     width: 5%;
     height: 100vh;
     
     background-color: $bg-light;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.nav > .nav-button {
     width: 64px;
     height: 64px;

     margin: 20px 0;
}

.nav > .nav-button > a {
     display: block;
     width: 100%;
     height: 100%;
}

.nav > .nav-button > a > i {
     font-size: 64px;
     color: $nav-buttons;
}

.nav > .nav-button > a.active > i {
     color: #4169e1;
}

.nav > .nav-button:hover {
     text-decoration: none;
     cursor: pointer;
}

/*************************
**     Search Box       **
*************************/
.search-box {
     width: 100%;
     position: relative;
     height: 40px;

     overflow: hidden;
}

.search-box > .search-input {
     position: relative;
     width: calc(100% - 45px);
     height: calc(100% - 5px);

     border: none;
     border-radius: 10px;

     padding: 2px 39px 2px 2px;

     outline: none;

     background-color: #F1F1F1;
}

.search-box > .search-input:focus {
     margin-top: 1px;
     height: calc(100% - 10px);
     border: 2px solid #4169e1;
     border-radius: 10px;

     outline: none;
}

.search-box > .search-button {
     position: absolute;
     right: 10px;
     top: calc(50% - (100% / 2));

     height: 100%;
     width: 30px;

     color: #4169e1;
}

.search-box > .search-button > i {
     font-size: 30px;
}

/*************************
** Search List Template **
*************************/
.search-list {
     display: block;
}

.search-list > .search-section {
     display: flex;
}

.search-list > .search-section > .search-section-button {
     border-radius: 30px;
     background-color: rgb(177, 42, 42);
     margin: 0 10px;
}

.search-list > .list-section {
     display: block;
}

.search-list > .search-list-split {
     background-color: $line;

     height: 1px;
     width: 100%;

     margin: 10px 0px;
     border-radius: 10px;
}

/*************************
**        Table         **
*************************/
.scroll-table {
     height: 100%;
     overflow-y: auto;
     border-radius: 10px;
     border: 1px solid $line;

     scrollbar-width: thin;
     scrollbar-color: $scroll $scroll-bg;
}

.scroll-table::-webkit-scrollbar {
     width: 10px;
     height: 10px;
     background-color: $scroll-bg;
     border-radius: 0 10px 10px 0;
}

.scroll-table::-webkit-scrollbar-thumb {
     width: 14px;
     background-color: $scroll;
     border-radius: 0 9px 9px 0;
}

.scroll-table::-webkit-scrollbar-corner {
     display: none;
}

.tbl {
     width: 100%;
     height: 100%;
     border-collapse: collapse;
     overflow: hidden;
}

.tbl > thead {
     border-radius: 10px 10px 0 0;
     overflow: hidden;
}

.tbl > thead > tr {
     position: sticky;
     top: 0;

     background-color: $bg;
}

.tbl > thead > tr > th {
     padding: 10px;
}

.tbl tr td {
     text-align: center;
}

.tbl tr {
     border-bottom: 1px solid $line;
}

.tbl tr.clickable:hover {
     background-color: $nav-buttons;
}

/*************************
**  Transaction Screen  **
*************************/
.transaction-screen {
     display: block;
}

/*************************
**  New Ticket Screen  **
*************************/


/***************************
**  Customer List Screen  **
***************************/

// main content

.tbl.customer-list {
     height: auto;  
}

.customer-item > td {
     padding: 20px;
}

.customer-item > .name > .customer-name-wrapper {
     display: flex;
              
     justify-content: center;
     align-items: center;
}

.customer-item > .name img {
     width: 100px;
     height: 100px;
     
     border-radius: 50%;
     margin-right: 25px;
}

// side content

.customer-side-details
{
     font-size: 16pt;

     padding: 10px;
}

.customer-side-details > .face 
{
     text-align: center;
}

.customer-side-details > .face > img
{
     height: 200px;
     width: 200px;
}

/***************************
**  Item List Screen  **
***************************/

// main content

.tbl.inventory-list {
     height: auto;
     
     margin-top: 20px;
}

.inventory-item > td {
     padding: 20px;
}

.inventory-item > .inventory-product > .item-name-wrapper {
     display: flex;
              
     justify-content: center;
     align-items: center;
}

.inventory-item > .inventory-product img {
     width: 100px;
     height: 100px;
     
     border-radius: 50%;
     margin-right: 25px;
}

.inventory-item > .inventory-button > a {
     font-size: 14pt;
     font-weight: bold;
          
     text-decoration: none;

     color: white;
     background-color: #4169e1;
     padding: 5px 20px;

     border-radius: 15%;
}

// side content

.item-side-details
{
     margin-top: 25%;
     font-size: 17pt;     

     padding: 15px;
}
     
.item-side-details > .img img
{
     width: 100%;
     height: 100%;

     border-radius: 10px;
}
